<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to 'Showoff Widgets', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%- if session[:user] %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Widgets
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'My widgets', widgets_path, class: 'dropdown-item' %>
            <%= link_to 'New widget', new_widget_path, class: 'dropdown-item' %>
          </div>
        </li>
      <% end %>
    </ul>
    <%- if session[:auth] %>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= session[:user]['email'] %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Logout', authentication_index_path, method: :delete, class: 'dropdown-item' %>
            <%= link_to 'Edit my account', edit_users_path, class: 'dropdown-item' %>
          </div>
        </li>
      </ul>
    <%- else %>
      <%= render 'shared/login_modal' %>  
    <%- end %>
  </div>
</nav>